AgroApp/AgroAppMVC/.vs/
AgroApp/AgroAppMVC/AgroAppMVC/bin/
AgroApp/AgroAppMVC/AgroAppMVC/obj/
.DS_Store
BaseFramework/AgroAppMVC/.vs/
BaseFramework/AgroAppMVC/AgroAppDomain/obj/
BaseFramework/AgroAppMVC/AgroAppDomain/bin/
BaseFramework/AgroAppMVC/AgroAppMVC/obj/
BaseFramework/AgroAppMVC/AgroAppMVC/bin/
BaseFramework/AgroAppMVC/ServicioGranja/Bin/
BaseFramework/AgroAppMVC/ServicioGranja/obj/
BaseFramework/AgroAppMVC/ServiciosGranja/obj/
BaseFramework/AgroAppMVC/ServiciosGranja/bin/

BaseFramework/AgroAppMVC/ApiGranja/bin/
BaseFramework/AgroAppMVC/ApiGranja/obj/

