@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--BCP-jumbotron-->
    <h1>Compilado numero 3</h1>

    <p class="lead">Compilado 3</p>
    <!--ECP-jumbotron-->
</div>

<div class="row">
    <!--BCP-index-content-->
    <div class="col-md-4">
      Hola
    </div>
    <div class="col-md-4">
Mundo
    </div>
    <div class="col-md-4">
Mundial
    </div>
    <!--ECP-index-content-->
</div>