<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f0dfcb5b-2dd0-4080-9d11-b13d47ada3f4/resourcegroups/AgroApp_2019/providers/Microsoft.Web/sites/ServiciosGranja</ResourceId>
    <ResourceGroup>AgroApp_2019</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://serviciosgranja.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>serviciosgranja.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ServiciosGranja</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ServiciosGranja</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AgroAppDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=uda87vofvj.database.windows.net;Initial Catalog=BRSPruebas;User ID=cio" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AgroAppDomain.Model.AgroAppDbEntities, AgroAppDomain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AgroAppDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.AgroAppModel.csdl|res://*/Model.AgroAppModel.ssdl|res://*/Model.AgroAppModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uda87vofvj.database.windows.net;Initial Catalog=BRSPruebas;User ID=cio"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>