USE [master]
GO
/****** Object:  Database [AgroApp]    Script Date: 6/10/2019 10:26:05 a.m. ******/
CREATE DATABASE [AgroApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroApp', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\AgroApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroApp_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\AgroApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroApp]
GO
USE [AgroApp]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 6/10/2019 10:26:05 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[ModuloId] [int] IDENTITY(1,1) NOT NULL,
	[PlantaId] [int] NULL,
	[NumeroPlantas] [int] NULL,
	[FechaSiembra] [datetime2](0) NULL,
	[VariablesAmbienteId] [int] NULL,
	[FechaEstimadaCosecha] [datetime2](0) NULL,
	[FechaRealCosecha] [datetime2](0) NULL,
	[SolucionNutricional] [float] NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[ModuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[PlantaId] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlanta] [nvarchar](50) NOT NULL,
	[SemanasCosecha] [smallint] NOT NULL,
 CONSTRAINT [PK_Planta] PRIMARY KEY CLUSTERED 
(
	[PlantaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoVariableAmbiente]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVariableAmbiente](
	[TipoVariableAmbienteId] [int] NOT NULL,
	[NombreTipoVariableAmbiente] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoVariableAmbiente] PRIMARY KEY CLUSTERED 
(
	[TipoVariableAmbienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoVariableCuidado]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVariableCuidado](
	[TipoVariableCuidadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoVariableCuidado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoVariableCuidado] PRIMARY KEY CLUSTERED 
(
	[TipoVariableCuidadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Cedula] [nvarchar](50) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Permiso] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariableAmbiente]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariableAmbiente](
	[VariableAmbienteId] [int] IDENTITY(1,1) NOT NULL,
	[ModuloId] [int] NOT NULL,
	[TipoVariableAmbienteId] [int] NOT NULL,
	[Valor] [float] NOT NULL,
	[TimeTag] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VariableAmbiente] PRIMARY KEY CLUSTERED 
(
	[VariableAmbienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariableCuidado]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariableCuidado](
	[VariablesCuidadoId] [int] IDENTITY(1,1) NOT NULL,
	[TipoVariableCuidadoId] [int] NOT NULL,
	[ValorCuidado] [float] NOT NULL,
	[PlantaId] [int] NOT NULL,
 CONSTRAINT [PK_VariableCuidado] PRIMARY KEY CLUSTERED 
(
	[VariablesCuidadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariablesControl]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariablesControl](
	[VariableControlId] [int] IDENTITY(1,1) NOT NULL,
	[PlantaId] [int] NOT NULL,
	[TipoVariableAmbienteId] [int] NOT NULL,
	[VariableControl] [float] NOT NULL,
 CONSTRAINT [PK_VariablesControl] PRIMARY KEY CLUSTERED 
(
	[VariableControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VariableAmbiente] ADD  CONSTRAINT [DF_VariableAmbiente_TimeTag]  DEFAULT (getdate()) FOR [TimeTag]
GO
ALTER TABLE [dbo].[Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Modulo_Planta] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([PlantaId])
GO
ALTER TABLE [dbo].[Modulo] CHECK CONSTRAINT [FK_Modulo_Planta]
GO
ALTER TABLE [dbo].[VariableAmbiente]  WITH CHECK ADD  CONSTRAINT [FK_VariableAmbiente_Modulo] FOREIGN KEY([ModuloId])
REFERENCES [dbo].[Modulo] ([ModuloId])
GO
ALTER TABLE [dbo].[VariableAmbiente] CHECK CONSTRAINT [FK_VariableAmbiente_Modulo]
GO
ALTER TABLE [dbo].[VariableAmbiente]  WITH CHECK ADD  CONSTRAINT [FK_VariableAmbiente_TipoVariableAmbiente] FOREIGN KEY([TipoVariableAmbienteId])
REFERENCES [dbo].[TipoVariableAmbiente] ([TipoVariableAmbienteId])
GO
ALTER TABLE [dbo].[VariableAmbiente] CHECK CONSTRAINT [FK_VariableAmbiente_TipoVariableAmbiente]
GO
ALTER TABLE [dbo].[VariableCuidado]  WITH CHECK ADD  CONSTRAINT [FK_VariableCuidado_Planta] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([PlantaId])
GO
ALTER TABLE [dbo].[VariableCuidado] CHECK CONSTRAINT [FK_VariableCuidado_Planta]
GO
ALTER TABLE [dbo].[VariableCuidado]  WITH CHECK ADD  CONSTRAINT [FK_VariableCuidado_TipoVariableCuidado] FOREIGN KEY([TipoVariableCuidadoId])
REFERENCES [dbo].[TipoVariableCuidado] ([TipoVariableCuidadoId])
GO
ALTER TABLE [dbo].[VariableCuidado] CHECK CONSTRAINT [FK_VariableCuidado_TipoVariableCuidado]
GO
ALTER TABLE [dbo].[VariablesControl]  WITH CHECK ADD  CONSTRAINT [FK_VariablesControl_Planta] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([PlantaId])
GO
ALTER TABLE [dbo].[VariablesControl] CHECK CONSTRAINT [FK_VariablesControl_Planta]
GO
ALTER TABLE [dbo].[VariablesControl]  WITH CHECK ADD  CONSTRAINT [FK_VariablesControl_TipoVariableAmbiente] FOREIGN KEY([TipoVariableAmbienteId])
REFERENCES [dbo].[TipoVariableAmbiente] ([TipoVariableAmbienteId])
GO
ALTER TABLE [dbo].[VariablesControl] CHECK CONSTRAINT [FK_VariablesControl_TipoVariableAmbiente]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esto se almacena en ml' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Modulo', @level2type=N'COLUMN',@level2name=N'SolucionNutricional'
GO
USE [master]
GO
