USE [master]
GO
/****** Object:  Database [AgroApp]    Script Date: 6/10/2019 10:26:05 a.m. ******/
CREATE DATABASE [AgroApp]
ALTER DATABASE [AgroApp] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroApp]
GO
USE [AgroApp]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 6/10/2019 10:26:05 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[ModuloId] [int] IDENTITY(1,1) NOT NULL,
	[PlantaId] [int] NULL,
	[NumeroPlantas] [int] NULL,
	[FechaSiembra] [datetime2](0) NULL,
	[VariablesAmbienteId] [int] NULL,
	[FechaEstimadaCosecha] [datetime2](0) NULL,
	[FechaRealCosecha] [datetime2](0) NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[ModuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 6/10/2019 10:26:06 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[PlantaId] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlanta] [nvarchar](50) NOT NULL,
	[SemanasCosecha] [smallint] NOT NULL,
 CONSTRAINT [PK_Planta] PRIMARY KEY CLUSTERED 
(
	[PlantaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/*B-tables-sql*/
--B-tables-sql



ALTER TABLE [dbo].[Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Modulo_Planta] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([PlantaId])
GO
ALTER TABLE [dbo].[Modulo] CHECK CONSTRAINT [FK_Modulo_Planta]
GO
USE [master]
GO
